<!-- Footer -->
<footer class="py-5 mt-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-4">
          <h5>StudyToolz</h5>
          <p>Innovative Learning Solutions</p>
        </div>
        <div class="col-md-4">
          <h5>Contact</h5>
          <p>contact@studytoolz.com</p>
          <p>+91 85910 85407</p>
        </div>
        <div class="col-md-4">
          <h5>Connect</h5>
          <div class="d-flex gap-3">
            <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
            <a href="#" class="text-white"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
      <div class="text-center mt-5 pt-4 border-top">
        <p class="mb-0">&copy; 2024 StudyToolz. All rights reserved</p>
      </div>
    </div>
  </footer>